* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background-color: #f4f4f4;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    height: 100vh;
    background: linear-gradient(135deg, #6606a2, #a743c3, #5e1471);
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile img {
    width: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h2 {
    font-size: 18px;
}

.profile p {
    font-size: 14px;
    color: #ddd;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    padding: 8px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav a:hover {
    background-color: rgba(255,255,255,0.15);
}

.sidebar-footer {
    position: absolute;
    bottom: 20px;
    font-size: 13px;
    color: #ddd;
}

/* MAIN CONTENT */

.kuca p{
text-align: center;
 color:#ffffff;
}
.kuca h1{
    text-align: center;
    color:#4e0072;
    font-size: 50px;
}

.kuca-div{
    padding: 50px;
}

.content {
    margin-left: 240px;
  
    width: calc(100% - 240px);
     background: linear-gradient(135deg, #c079ec, #8c6b99, #c39ace);
}

section h1 {
   
    margin-bottom: 15px;
}

/* WRAPPER SEKCIJE */
.section-wrapper {
      padding: 80px 40px;
    margin-bottom: 60px;
     background: linear-gradient(135deg, #8c5da9, #db8af1, #604168);
   
}

.wrapper {
    max-width: 1000px;
    margin: auto;
    background-color: #c7a8d4;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transition: all 0.4s ease;
}

.wrapper:hover {
    transform: translateY(-6px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.25);
}

.section-text h1 {
    color: #1e1e2f;
}

.section-text p,
.section-text ul li {
    color: #000000;
    font-size: 18px;
    line-height: 1.8;
    
}

/* KARTICE */
.card {
    background-color: rgb(214, 181, 231);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card a{
       display: inline-block;
    margin-top: 15px;
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

/* KONTAKT */
.contact-section {
    background: linear-gradient(135deg, #6606a2, #a743c3, #5e1471);
    padding: 80px 40px;
    border-radius: 20px;
}

.contact-wrapper {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-color: #c7a8d4;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transition: all 0.4s ease;
}

.contact-wrapper:hover {
    transform: translateY(-6px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
}

/* FORMA */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #850ea0;
    font-size: 14px;
    transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #3b3b5f;
    box-shadow: 0 0 15px rgba(30, 30, 47, 0.4);
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #550074;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #793696;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }

    .contact-wrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .wrapper {
        padding: 30px;
    }
}

