body{
    margin:0;
    font-family: 'Poppins',sans-serif;
     background: linear-gradient(to right, #1a025d, #02338d);
     background-image: url(nebo.jpg);
    color:#0cc4f7;
}

header{
        background: radial-gradient(circle, #130c71, #6e4e98);
      padding: 20px;
      text-align: center;
}
header h1 {
        margin: 0;
        font-size: 80px;
        color: #8A64FF;
        }
header p {
     font-size: 20px;
     color: #C1A9EB;
        }
       nav{
        background-color: #0B0E2A;
        display: flex;
        justify-content: center;
        padding: 10px ;
       } 
       nav a{
        color:#AEE4FF;
        text-decoration: none;
        margin: 15px;
    
       }
       nav a:hover{
        color:#8A64FF;
       }
       main{
        padding:20px;
       }
.planete{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
    margin-top: 20px;
}
.planete-kocka{
   
     background-color: #0B0E2A;
        border: 1px solid #8A64FF;
        border-radius: 15px;
        padding: 15px;
        text-align: center;
        transition: transform 0.1s, box-shadow 0.3s;
        overflow: hidden;
}
.planete-kocka:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #8A64FF;
}
 .planete-kocka img {
            width: 300px;
            height: 300px;
            border-radius: 80%;
        }
footer{
    background-color: #0B0E2A;
   text-align: center;
     padding: 15px;
     margin-top: 20px;
     font-size: 0.9em;
   color: #C1A9EB;
}