* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

/* HERO */
.hero {
    height:350px;
    background: linear-gradient(135deg, #2563eb, #0f172a);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero img{
        width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 15px 0;
    font-size: 1.2rem;
    opacity: 0.9;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #38bdf8;
    color: #0f172a;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #0ea5e9;
}

/* SEKCIJE */
section {
    padding: 80px 10%;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

/* O MENI */
.about p {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}

.skills span {
    background: #1e293b;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.9rem;
}

/* PROJEKTI */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.project-card {
    background: #020617;
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(56,189,248,0.3);
}

.project-card a {
    display: inline-block;
    margin-top: 15px;
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

/* KONTAKT */
.contact-section {
    background: linear-gradient(135deg, #2563eb, #0f172a);
    padding: 80px 40px;
    border-radius: 20px;
}

.contact-wrapper {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-color: #031545;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
     transition: all 0.4s ease;
}
.contact-wrapper:hover {
    transform: translateY(-6px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
}
.contact-text h1 {
    margin-bottom: 15px;
    color: #ffffff;
}

.contact-text p {
    color: #fffbfb;
    line-height: 1.6;
}

/* FORMA */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #2e0ea0;
    font-size: 14px;
    transition: all 0.3s ease;
}
.contact-form input:hover,
.contact-form textarea:hover {
    border-color: #3b3b5f;
    box-shadow: 0 0 8px rgba(38, 7, 161, 0.456);
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #3b3b5f;
    box-shadow: 0 0 15px rgba(30, 30, 47, 0.4);
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #323789;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
   
}

.contact-form button:hover {
    background-color: #877fc2;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    font-size: 0.9rem;
}
